/*#formBasicCaption{*/
    /*width: 75%;*/
    /*margin-left: 12%;*/
/*}*/

/*#wholeForm{*/
    /*background-color: #e0e0e0;*/
    /*width: 75%;*/
    /*margin-left: 12%;*/
    /*height: 100vh;*/
/*}*/

/*#chooseFile{*/
    /*margin-left: 13%;*/
/*}*/

/*#wholeImageCaption{*/
    /*padding-top: 10px;*/
/*}*/

#fileItem{
    /*padding-left: px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #24a2b6;
}

#imagePreview{
    color: #24a2b6;
    background-color: #343A40;
    border: #24a2b6 solid 1px;
    max-width: 400px;
    max-width: 450px;
}

#uploadForm{
    background-color: lightgrey;
}

#submitButton{
    margin-left: 10px;
}

#enterCaption{
    width: 50%;
    margin-top: 8px;
    margin-bottom: 10px;
    border: #24a2b6 solid 1px;
    color: #343A40;
}