#map{
    padding-left: 12%;
    text-align: center;
    display: inline-block;
}

#editPostB{
    padding-right: 11%;
    display: inline-block;
}

#usersposts{
    background-color: #343a40;
    padding-bottom: 5%;
}

h6{
    color: #24a2b6;
}

h4{
    color: white;
}

h1{
    font-family: "American Typewriter";
    color: white;
    padding-left: 4%;
}
