li{
    list-style: none;
}
li{
    list-style: none;
}

.col-sm-10{
    border: #282c34 solid 2px;
    margin-left: 20%;
    height: 100%;
    max-width: 60%;
}


.mainfooter{
    background-color: #282c34;
}

.contentdiv{
    background-color: #343a40;
    border: white solid 2px;
    color: white;
}

a{
    color: #24A2B6;
    text-align: center;
}

#allposts{
    text-align: center;
    padding-bottom: 5%;
}

.mapbutton{
    padding-left: 40%;
    display: inline;
}

body{
    background-image: url("thomas-kelley-64329-unsplash.jpg");
    background-size: 100%;
}

.AP{
    text-align: center;
    font-family: "American Typewriter";
}

.allpostsuser{
    color: #24a2b6;
}

.allpostscaption{
    display: inline-block;
    border: solid 1px white;
    width: 57%;
}

.rowpages{
    /*padding-left: 350%;*/
    display: inline-block;
}

.narava-name{
    color: #24a2b6;
    padding-right: 2%;
}

hr{
    color: #282c34;
}

nav{
    padding-bottom: 10%;
    display: inline-block;
}

form{
    padding-left: 40%;
    display: inline-block;
}

.allpostsimages{
    border: white solid 1px;
}

.allpostsa:hover{
    background-color: #24a2b6;
}

.yourposta:hover{
    background-color: #24a2b6;
}

.logouta:hover{
    color: white;
    display: inline-block;
}

img{
    max-width: 550px;
    max-height: 550px;
}



