{% extends 'registration/base.html' %}
{% block title %}Image Location{% endblock %}
{% block map %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
          background-color: #343a40;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
          border-radius: 4%;
      }
      #latlng {
        width: 339px;
      }
      .btn-outline-info{
          display: inline;
      }
      .backbutton{
          display: inline-block;
          padding: 5px;
      }

        #map{
            height: 100vh;
        }
    </style>

    <div class="container-fluid map-container">
        <div class="row">
            <div class="col">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <script>
      function initMap() {
        var latlng = {lat: {{ object.point.x }}, lng: {{ object.point.y }}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: latlng
        });
        var infowindow = new google.maps.InfoWindow;
          var marker = new google.maps.Marker({
            position: latlng,
            map: map
          });

          infowindow.setContent('<img height="100" src="{{ object.nature_upload.url }}"><p>{{ object.post_caption }}</p>');
          infowindow.open(map, marker);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo1QqQKXqmM68fNbBP4dgsW3pwy3TngOs&callback=initMap">
    </script>
{% endblock map %}