{% load static %}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>{% block title %}Simply Nature{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/posts/static/styles/styles.css">
</head>
<body>
 <header>
     <div class="container">
     <div class="hi">
       {% if user.is_authenticated %}
            <ul class="row pages">
                <li class="col"><a href="{% url 'users:logout' %}">logout</a></li>
            </ul>
           Hi {{ user.username }}!

         {% else %}
           <img src="" class="">
           <ul class="row pages">
               <li class="col"><a href="{% url 'users:login' %}">login</a></li>
               <li class="col"><a href="{% url 'users:signup' %}">signup</a></li>
           </ul>
       {% endif %}
     </div>
    </div>
 </header>
 <main>
 <div class="col-sm-3">
     <ul>
         <li><a href="#">Create Post</a></li>
         <li><a href="yourposts.html">Your Posts</a></li>
         <li><a href="allposts.html">All Posts</a></li>
     </ul>
 </div>
 <div class="col-sm-9">
   {% block content %}
   {% endblock %}
 </div>

 </main>
</body>